- name: Deploy
  hosts: default
  vars:
    vsix_installer: "{{ ansible_env['ProgramFiles'] }}\\Microsoft Visual Studio\\2022\\Community\\Common7\\IDE\\VSIXInstaller.exe"
    wdk_vsix_dir: "{{ ansible_env['ProgramFiles(x86)'] }}\\Windows Kits\\10\\Vsix\\VS2022\\10.0.22621.0"
  tasks:
    # This should be set before running the win_inet_proxy module
    - name: Configure IE proxy settings to apply to all users
      ansible.windows.win_regedit:
        path: HKLM:\SOFTWARE\Policies\Microsoft\Windows\CurrentVersion\Internet Settings
        name: ProxySettingsPerUser
        data: 0
        type: dword
        state: present
      when: ansible_proxy | length > 0

    - name: Configure IE proxy settings
      win_inet_proxy:
        auto_detect: no
        proxy: "{{ ansible_proxy }}"
      when: ansible_proxy | length > 0

    # This should be done after setting the IE proxy with win_inet_proxy
    - name: Import IE proxy configuration to WinHTTP
      win_http_proxy:
        source: ie
      when: ansible_proxy | length > 0

    - name: Ensure Chocolatey installed from internal repo
      win_chocolatey:
        name: chocolatey
        proxy_url: "{{ ansible_proxy }}"

    - name: Set chocolatey proxy
      win_chocolatey_config:
        name: proxy
        state: present
        value: "{{ ansible_proxy }}"
      when: ansible_proxy | length > 0

    - name: Disable uncessary services
      win_service:
        name: "{{ item }}"
        state: stopped
        start_mode: disabled
      with_items:
        - WSearch
        - Spooler

    - name: Disable OneDrive
      win_regedit:
        path: HKLM:\Software\Policies\Microsoft\Windows\OneDrive
        name: DisableFileSyncNGSC
        data: 1
        type: dword
        state: present

    - name: Disable Cortana
      win_regedit:
        path: HKLM:\Software\Policies\Microsoft\Windows\Windows Search
        name: AllowCortana
        data: 0
        type: dword
        state: present

    - name: Disable Defender
      win_regedit:
        path: HKLM:\SOFTWARE\Policies\Microsoft\Microsoft Defender
        name: DisableAntiSpyware
        data: 1
        type: dword
        state: present

    - name: Download Visual Studio 2022 community installer
      win_get_url:
        url: https://aka.ms/vs/17/release/vs_Community.exe
        dest: "{{ ansible_facts['env']['TEMP'] }}\\vs_community.exe"

    # https://learn.microsoft.com/en-us/visualstudio/install/workload-component-id-vs-community?view=vs-2022&preserve-view=true
    - name: Install Visual Studio community and compiler
      win_command:
        # cmd: vs_community.exe --quiet --wait --norestart --add Microsoft.VisualStudio.Component.VC.Tools.x86.x64 --add Microsoft.VisualStudio.Component.Windows11SDK.22000
        cmd: vs_community.exe --quiet --wait --norestart --add Microsoft.VisualStudio.Workload.NativeDesktop --add Microsoft.VisualStudio.Component.VC.Tools.x86.x64
      args:
        chdir: "{{ ansible_facts['env']['TEMP'] }}"

    - name: Download latest SDK
      win_get_url:
        url: https://go.microsoft.com/fwlink/?linkid=2237387
        dest: "{{ ansible_facts['env']['TEMP'] }}\\sdk_setup.exe"

    - name: Install latest SDK
      win_command:
        cmd: sdk_setup.exe /q /norestart
      args:
        chdir: "{{ ansible_facts['env']['TEMP'] }}"

    - name: Download latest WDK
      win_get_url:
        url: https://go.microsoft.com/fwlink/?linkid=2196230
        dest: "{{ ansible_facts['env']['TEMP'] }}\\wdk_setup.exe"

    - name: Install WDK
      win_command:
        cmd: wdk_setup.exe /q /norestart
      args:
        chdir: "{{ ansible_facts['env']['TEMP'] }}"

    - name: install WDK VSIX extension
      win_command:
        cmd: "{{ vsix_installer | ansible.windows.quote }} /quiet /admin /logFile:C:\\wdk_vsix.log WDK.vsix"
      args:
        chdir: "{{ wdk_vsix_dir }}"

    - name: Enable Testsigning
      win_command: Bcdedit.exe -set TESTSIGNING ON
